<div class="container">
    <div class="main">

        <div class="register">
            <form>
                <h3>Регистрация</h3>
                <input type="email" name="email" placeholder="Имейл" [(ngModel)]="email">
                <input type="password" name="pswd" placeholder="Парола" [(ngModel)]="password">
                <input type="password" name="repeat-pswd" placeholder="Повтори парола" [(ngModel)]="password">
                <button class="register btn" (click)="register()">Създай профил</button>
            </form>
        </div>

        <div class="login">
            <div class="login-wrapper">
                <span>Имаш профил?</span>
                <a href="/login">Вход</a>
            </div>
        </div>
    </div>
</div>