
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #43cb68;
    color: #fff;
    text-align: center;
    height: 5rem;
}

footer p {
    font-size: 16px;
}