footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#fff;
    height: auto;
    width: 100%;
    font-family: 'Open Sans';
    padding-top: 30px;
    margin: 0;
    color: #666;
    background: #f9f7f8;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    padding-bottom: 15px;
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: 'Indie Flower';
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    /* margin: 1rem 0 1.5rem 0; */
}

.socials li {
    margin: 0 15px;
}

.socials a {
    text-decoration: none;
    color: #666;
}

.socials a i {
    font-size: 1.5rem;
    /* transition: color .4s ease; */
}

.socials a:hover i {
    color: var(--blue);
    /* color: #666; */
}

.footer-bottom {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #e8e6ed;
}

.footer-bottom p {
    font-size: 12px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #666;
}
