<div class="container">
    <div class="main">

        <div class="login">
            <form #form="ngForm" (ngSubmit)="login(form)">
                <h3>Вход</h3>
                <input 
                type="email" 
                name="email" 
                placeholder="Имейл" 
                ngModel
                #inputEmail="ngModel" 
                required
                [appEmail]="[]"
                />

                <ng-container *ngIf="inputEmail.touched">
                    <p class="error" *ngIf="inputEmail.errors?.['required']">
                        Полето не може да бъде празно!
                    </p>
                    <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">
                        Невалиден имейл!
                    </p>
                </ng-container>

                <input 
                type="password" 
                name="pswd" 
                placeholder="Парола"
                ngModel  
                #inputPassword="ngModel"
                required
                minlength="6"
                />

                <ng-container *ngIf="inputPassword.touched">
                    <p class="error" *ngIf="inputPassword.errors?.['required']">
                        Полето не може да бъде празно!</p>
                    <p class="error" *ngIf="inputPassword.errors?.['minlength']">
                        Паролата трябва да бъде поне {{ inputPassword.errors?.['minlength']['requiredLength'] }} символа!
                    </p>
                </ng-container>

                <button class="login btn"
                [style]="{backgroundColor: form.invalid ? '#e0dede' : 'var(--blue)', color: form.invalid ? 'grey' : 'white' }"
                >
                <!-- [disabled]="form.invalid" -->
                Вход
                </button>

                
            </form>
        </div>

        <div class="register">
            <div class="register-wrapper">
                <span>Нямаш профил?</span>
                <a href="/register">Регистрация</a>
            </div>
        </div>
    </div>
</div>