<div class="container">
    <div class="main">

        <div class="login">
            <form #form="ngForm" (ngSubmit)="login(form)">
                <h3>Вход</h3>
                <input 
                type="email" 
                name="email" 
                placeholder="Имейл" 
                ngModel
                #inputEmail="ngModel" 
                required
                [appEmail]="[]"
                />

                {{ form.value | json }}

                <ng-container *ngIf="inputEmail.touched">
                    <p class="error" *ngIf="inputEmail.errors?.['required']">
                        Полето не може да бъде празно!
                    </p>
                    <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">
                        Невалиден имейл!
                    </p>
                </ng-container>

                <input 
                type="password" 
                name="pswd" 
                placeholder="Парола"
                ngModel  
                #inputPassword="ngModel"
                required
                />

                <ng-container *ngIf="inputPassword.touched">
                    <p class="error" *ngIf="inputPassword.errors?.['required']">Полето не може да бъде празно!</p>
                    <p class="error">Паролата трябва да бъде поне 6 символа!</p>
                </ng-container>

                <button class="login btn">Вход</button>
            </form>
        </div>

        <div class="register">
            <div class="register-wrapper">
                <span>Нямаш профил?</span>
                <a href="/register">Регистрация</a>
            </div>
        </div>
    </div>
</div>