.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: url(../wallpaperflare.com_wallpaper.jpg) no-repeat center;
    width: 100%;
}

.main {
    width: 350px;
    /* height: 450px; */
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

.profile {
    position: relative;
    width: 100%;
    height: 100%;
}


.profile p {
    font-size: 2rem;
    margin: 20px;
    color: #666;
    font-weight: 800;
}

.profile span {
    font-weight: 400;
}

.profile .user-icon-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--blue);
    margin: 30px auto 0;
}
.profile .user-icon-wrapper .user-icon {
    display: block;
    font-size: 55px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logout-wrapper {
    font-size: 1.5em;
    gap: 5px;
    justify-content: center;
    display: flex;
    margin: 100px;
    padding-top: 30px;
    /* transition: .5s ease-in-out; */
}

.logout-wrapper span {
    color: #fff;
}

.logout-wrapper a {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.logout-wrapper a:hover {
    color: #e0dede;
    /* opacity: .6; */
}

input {
    width: 60%;
    height: 30px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.logout {
    position: relative;
    font-size: 16px;
    height: 50px;
    background: transparent;
    color: gray;
    cursor: pointer;
    overflow: hidden;
    margin-top: 85px;
}

.logout::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;
    background:  var(--blue);
    border-radius: 55% / 35%;
}

.logout .logout-button {
    position: relative;
    z-index: 20;
    width: fit-content;
    margin: 0 auto;
    top: 17px;
}

.logout .logout-button i {
    color: #fff;
    margin-right: 10px;
}

.logout .logout-button span {
    cursor: pointer;
    color: #fff;
}

.logout .logout-button span:hover {
    opacity: .6;
}
