
<div class="container">
    <div class="main">

        <div class="profile">
            <i class="fa fa-user" aria-hidden="true"></i>
            <p>Потребителско име: <span>{{username}}</span></p>
            <p>Имейл: <span>{{userEmail}}</span></p>
        </div>

        <div class="logout">
            <div class="logout-wrapper">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <li (click)="logout()" type="none">Излизане</li>
            </div>
        </div>
    </div>
</div>