<ng-container *ngIf="!isEditMode">
  <div class="container">

    <button (click)="updateData()">Редактирай</button>
    <!-- <button (click)="deleteData(data.id)">Изтрий</button> -->

    <h1>{{title}}</h1>
    <h3>{{description}}</h3>

    <img src="{{coverImage}}" alt="" class="cover-image">

    <div class="blog-post-wrapper">
      <div [innerHTML]="post" class="blog-post-text"></div>
    </div>

  </div>
</ng-container>

<!-- Edit Mode -->

<ng-container *ngIf="isEditMode">

  <div class="editContainer">
    <div class="main">

      <div class="create-post">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
              <h3>Редактирай</h3>
              <input 
              type="text" 
              name="title" 
              placeholder="Заглавие" 
              ngModel={{title}}
              #inputTitle="ngModel"
              required
              
              />

              <ng-container *ngIf="inputTitle.touched">
                  <p class="error" *ngIf="inputTitle.errors?.['required']">
                      Полето не може да бъде празно!
                  </p>
              </ng-container>

              <input 
              type="text" 
              name="coverImage" 
              placeholder="Заглавна снимка" 
              ngModel={{coverImage}}
              #inputCoverPhoto="ngModel"
              required
              />

              <ng-container *ngIf="inputCoverPhoto.touched">
                  <p class="error" *ngIf="inputCoverPhoto.errors?.['required']">
                      Полето не може да бъде празно!
                  </p>
              </ng-container>

              <textarea
                  type="text" 
                  name="description" 
                  placeholder="Описание"
                  ngModel={{description}} 
                  #textAreaInput="ngModel"
                  required
                  minlength="3"
              ></textarea>

              <ng-container *ngIf="textAreaInput.touched">
                  <p class="error" *ngIf="textAreaInput.errors?.['required']">
                      Полето не може да бъде празно!
                  </p>
                  <p class="error" *ngIf="textAreaInput.errors?.['minlength']">
                      Описанието трябва да бъде поне {{ textAreaInput.errors?.['minlength']['requiredLength'] }} символа!</p>
              </ng-container>

              <ckeditor 
              name="post"
              data=""
              ngModel={{post}}
              #inputPost
              required
              ></ckeditor>

              <!-- <ng-container *ngIf="inputPost.touched">
                  <p class="error" *ngIf="inputPost.errors?.['required']">
                      Полето не може да бъде празно!
                  </p>
              </ng-container> -->
             
              <button 
                  class="create-post btn"
                  [style]="{backgroundColor: form.invalid ? '#e0dede' : 'var(--blue)', color: form.invalid ? 'grey' : 'white' }"
              >
              Редактирай
              </button>

          </form>
      </div>

      <!-- <div class="bottom">
          <div class="bottom-wrapper">
          </div>
      </div> -->
  </div>
  </div>


</ng-container>