<div class="container">
    <div class="card" *ngFor="let data of postData | async">
        <a href="/posts/{{data.id}}">
            <div class="card-header">
                <img src="{{ data.coverImage }}" alt="" />
            </div>
            <div class="card-body">
                <!-- <span class="tag tag-teal">Technology</span> -->
                <h4>
                    {{ data.title }}
                </h4>
                <p>
                    {{ data.description}}
                </p>
            </div>
        </a>
    </div>
</div>