<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fa fa-bars"></label>


    <div class="logo-container">
        <a href="/home" class="logo">You Must Visit<span><i class="fa fa-map-pin" aria-hidden="true"></i></span></a>
    </div>
    
    <nav>
        <ul>
            <li><a href="/home">Начало</a></li>
            <li><a href="/posts">Блог</a></li>
            <li><a href="/new-post">Нов пост</a></li>
            <!-- <li><a href="#">Времето</a></li> -->
            <li><a href="#">За мен</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
    </nav>

    <div class="icons">
        <span *ngIf="isLoggedIn()">
           Здравей, {{username}}!
        </span>
        <i *ngIf="!isLoggedIn()" routerLink="/login" class="fa fa-user"></i>
        <i *ngIf="isLoggedIn()" routerLink="/profile" class="fa fa-user"></i>
    </div>
</header>