<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fa fa-bars"></label>


    <div class="logo-container">
        <a href="#" class="logo">You Must Visit<span><i class="fa fa-map-pin" aria-hidden="true"></i></span></a>
    </div>
    
    <nav>
        <ul>
            <li><a href="#">Начало</a></li>
            <li><a href="#">Дестинации</a></li>
            <li><a href="#">Времето</a></li>
            <li><a href="#">За мен</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
    </nav>

    <div class="icons">
        <i href="#" class="fa fa-user"></i>
    </div>
</header>